<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Reset Password</title>
	<meta charset="utf-8"/>
</head>
<body>
<h1>Reset your password</h1>
<div th:if="${param.error != null}" style="color: red">
	<h3 th:text="${param.error}">
		Error
	</h3>
</div>
<form th:action="@{/reset-password}" method="post">
	<label for="username">Username</label>:
	<input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
	<label for="currentPassword">Current password</label>
	<input type="password" id="currentPassword" name="currentPassword" > <br/>
	<label for="newPassword">New password</label>
	<input type="password" id="newPassword" name="newPassword"> <br/>
	<input id="submit" type="submit" value="Submit"/>
</form>
<p><a href="/login" th:href="@{/login}">Back to login</a></p>
</body>
</html>
