<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Please sign in</title>
    </head>
    <body>
        <div>
            <form name="f" th:action="@{/j_security_check}" method="post">
                <fieldset>
                    <legend>Please Login</legend>
                    <div th:if="${param.error}" class="alert alert-error">Invalid
                        username and password.</div>
                    <div th:if="${param.logout}" class="alert alert-success">You
                        have been logged out.</div>
                    <label for="username">Username</label> <input type="text"
                        id="username" name="j_username" /> <label for="password">Password</label>
                    <input type="password" id="password" name="j_password" />
                    <div class="form-actions">
                        <button type="submit" class="btn">Log in</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>