<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
		"-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
		"https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="com.puppycrawl.tools.checkstyle.Checker">
	<module name="io.spring.javaformat.checkstyle.SpringChecks">
		<property name="excludes" value="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStaticImportCheck" />
	</module>
	<module name="com.puppycrawl.tools.checkstyle.TreeWalker">
		<module name="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStaticImportCheck">
			<property name="excludes" value="
				io.restassured.RestAssured.*,
				org.assertj.core.api.Assertions.*,
				org.assertj.core.api.Assumptions.*,
				org.assertj.core.api.HamcrestCondition.*,
				org.awaitility.Awaitility.*,
				org.hamcrest.CoreMatchers.*,
				org.hamcrest.Matchers.*,
				org.junit.Assert.*,
				org.junit.Assume.*,
				org.junit.internal.matchers.ThrowableMessageMatcher.*,
				org.junit.jupiter.api.Assertions.*,
				org.junit.jupiter.api.Assumptions.*,
				org.junit.jupiter.api.Assertions.*,
				org.mockito.ArgumentMatchers.*,
				org.mockito.BDDMockito.*,
				org.mockito.Matchers.*,
				org.mockito.Mockito.*,
				org.springframework.boot.configurationprocessor.ConfigurationMetadataMatchers.*,
				org.springframework.boot.configurationprocessor.TestCompiler.*,
				org.springframework.boot.test.autoconfigure.AutoConfigurationImportedCondition.*,
				org.springframework.hateoas.mvc.ControllerLinkBuilder.linkTo,
				org.springframework.restdocs.headers.HeaderDocumentation.*,
				org.springframework.restdocs.hypermedia.HypermediaDocumentation.*,
				org.springframework.restdocs.mockmvc.MockMvcRestDocumentation.*,
				org.springframework.restdocs.mockmvc.RestDocumentationRequestBuilders.*,
				org.springframework.restdocs.operation.preprocess.Preprocessors.*,
				org.springframework.restdocs.payload.PayloadDocumentation.*,
				org.springframework.restdocs.request.RequestDocumentation.*,
				org.springframework.restdocs.restassured3.operation.preprocess.RestAssuredPreprocessors.*,
				org.springframework.restdocs.restassured3.RestAssuredRestDocumentation.*,
				org.springframework.restdocs.snippet.Attributes.*,
				org.springframework.restdocs.webtestclient.WebTestClientRestDocumentation.*,
				org.springframework.security.config.Customizer.*,
				org.springframework.security.test.web.servlet.request.SecurityMockMvcRequestBuilders.*,
				org.springframework.security.test.web.servlet.request.SecurityMockMvcRequestPostProcessors.*,
				org.springframework.security.test.web.servlet.setup.SecurityMockMvcConfigurers.*,
				org.springframework.test.web.client.ExpectedCount.*,
				org.springframework.test.web.client.match.MockRestRequestMatchers.*,
				org.springframework.test.web.client.response.MockRestResponseCreators.*,
				org.springframework.test.web.servlet.request.MockMvcRequestBuilders.*,
				org.springframework.test.web.servlet.result.MockMvcResultHandlers.*,
				org.springframework.test.web.servlet.result.MockMvcResultMatchers.*,
				org.springframework.test.web.servlet.setup.MockMvcBuilders.*,
				org.springframework.web.reactive.function.BodyInserters.*,
				org.springframework.web.reactive.function.server.RequestPredicates.*,
				org.springframework.web.reactive.function.server.RouterFunctions.*,
				org.springframework.ws.test.client.RequestMatchers.*,
				org.springframework.ws.test.client.ResponseCreators.*" />
		</module>
		<module name="io.spring.javaformat.checkstyle.check.SpringJUnit5Check" />
		<module
				name="com.puppycrawl.tools.checkstyle.checks.imports.IllegalImportCheck">
			<property name="regexp" value="true" />
			<property name="illegalPkgs"
					  value="^sun.*, ^org\.apache\.commons\.(?!compress|dbcp2|lang|lang3|logging|pool2).*, ^com\.datastax\.oss\.driver\.shaded.*, ^com\.google\.common.*, ^io\.micrometer\.shaded.*, ^org\.flywaydb\.core\.internal.*, ^org\.testcontainers\.shaded.*" />
			<property name="illegalClasses"
					  value="^com\.hazelcast\.util\.Base64, ^org\.junit\.rules\.ExpectedException, ^org\.mockito\.InjectMocks, ^org\.slf4j\.LoggerFactory, ^org.springframework.context.annotation.ScannedGenericBeanDefinition, ^reactor\.core\.support\.Assert" />
		</module>
		<module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
			<property name="maximum" value="0"/>
			<property name="format" value="org\.junit\.Assert\.assert" />
			<property name="message"
					  value="Please use AssertJ imports." />
			<property name="ignoreComments" value="true" />
		</module>
		<module
				name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
			<property name="maximum" value="0" />
			<property name="format"
					  value="assertThatExceptionOfType\((NullPointerException|IllegalArgumentException|IOException|IllegalStateException)\.class\)" />
			<property name="message"
					  value="Please use specialized AssertJ assertThat*Exception method." />
			<property name="ignoreComments" value="true" />
		</module>
		<module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
			<property name="maximum" value="0"/>
			<property name="format" value="org\.mockito\.Mockito\.(when|doThrow|doAnswer)" />
			<property name="message"
					  value="Please use BDDMockito imports." />
			<property name="ignoreComments" value="true" />
		</module>
		<module name="io.spring.javaformat.checkstyle.check.SpringJavadocCheck">
			<property name="publicOnlySinceTags" value="true" />
			<property name="requireSinceTag" value="false" />
		</module>
	</module>
</module>