<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  https://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- This is needed if using CAS single-sign-out filter to avoid memory leak -->
	<!-- Sessions will be stored forever if this listener not used -->
	<listener>
		<listener-class>org.apereo.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>

</web-app>
